HelpDeskBot.json
{
  "name": "HelpDeskBot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -12096,
        -720
      ],
      "id": "42a311f0-a447-44bf-9c93-5c235f7a1625",
      "name": "Telegram Trigger",
      "webhookId": "helpdesk-bot-webhook-001",
      "credentials": {
        "telegramApi": {
          "id": "XJQY0zY3KK1AFGgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1113605684,
          "mode": "list",
          "cachedResultName": "USUARIOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=1113605684"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_user",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.from.id }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -11920,
        -720
      ],
      "id": "4f2f85b3-7500-4974-9eac-7f528f422fdc",
      "name": "Buscar Usuario",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-activo",
              "leftValue": "={{ $json.activo }}",
              "rightValue": "Sí",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -11744,
        -720
      ],
      "id": "ce78c1f3-5404-46e9-b97f-dd86c960020d",
      "name": "IF Usuario Activo"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "⛔ No tienes acceso a este sistema. Contacta al administrador.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -11632,
        -448
      ],
      "id": "89b564d5-327f-4890-b460-380c3697a1ff",
      "name": "Msg No Acceso",
      "webhookId": "helpdesk-no-acceso-wh",
      "credentials": {
        "telegramApi": {
          "id": "XJQY0zY3KK1AFGgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_user",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.from.id }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -11568,
        -736
      ],
      "id": "24e944de-d3b6-4548-aa06-f5921a93d572",
      "name": "Leer Estado Actual",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-logs-existe",
              "leftValue": "={{$json.telegram_user}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -11392,
        -736
      ],
      "id": "b879be1a-1a1d-4d89-8f6d-6512192a6e9d",
      "name": "IF Fila LOGS Existe"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{String($('Telegram Trigger').item.json.message.from.id)}}",
            "pantalla": "menu"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tipo_temp",
              "displayName": "tipo_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "prioridad_temp",
              "displayName": "prioridad_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "descripcion_temp",
              "displayName": "descripcion_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -11184,
        -624
      ],
      "id": "068f3192-2088-4f1c-8c26-bfb4ed46a5de",
      "name": "Inicializar LOGS",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "pantalla",
              "value": "={{ $json.pantalla || 'menu' }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "texto_usuario",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "user_id",
              "value": "={{ $('Telegram Trigger').item.json.message.from.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -11040,
        -768
      ],
      "id": "3ca05281-7363-4e3b-9d5c-0af40b81480a",
      "name": "Set Variables"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "76c69119-390e-4d22-b7a6-b6f13d8b5038",
                    "leftValue": "={{$json.pantalla}}",
                    "rightValue": "menu",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5773ec15-b1c4-4b74-8d46-404ffe4bacfe",
                    "leftValue": "={{$json.pantalla}}",
                    "rightValue": "tipo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7e44f693-b157-4a62-8303-46bcb8738b87",
                    "leftValue": "={{$json.pantalla}}",
                    "rightValue": "prioridad",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ae583efa-cc1f-4cb6-a13e-f40246f1c1e1",
                    "leftValue": "={{$json.pantalla}}",
                    "rightValue": "descripcion",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fa06e3fa-8bdf-4266-b1ec-9eeb18d097dc",
                    "leftValue": "={{$json.pantalla}}",
                    "rightValue": "confirmar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "sp5",
                    "leftValue": "={{$json.pantalla}}",
                    "rightValue": "consultar_ticket",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "sp6",
                    "leftValue": "={{$json.pantalla}}",
                    "rightValue": "mis_solicitudes",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "sp7",
                    "leftValue": "={{$json.pantalla}}",
                    "rightValue": "reportes",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "sp8",
                    "leftValue": "={{$json.pantalla}}",
                    "rightValue": "configuracion",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -10544,
        -1232
      ],
      "id": "b6d683a5-0ed9-4149-b8f3-aec475f0b1a2",
      "name": "Switch por Pantalla"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "m1",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -13616,
        -1376
      ],
      "id": "80190232-d32d-4ef8-985f-4b4ec2fad847",
      "name": "IF Menu Op1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "pantalla": "tipo"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tipo_temp",
              "displayName": "tipo_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "prioridad_temp",
              "displayName": "prioridad_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "descripcion_temp",
              "displayName": "descripcion_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -13520,
        -1568
      ],
      "id": "ffac807b-e010-48f6-b6d3-eada293acbc9",
      "name": "LOG pantalla = tipo",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "📋 *Paso 1 de 4 – Tipo de solicitud*\n\nSelecciona el tipo:\n1️⃣ Soporte técnico\n2️⃣ Solicitud administrativa\n3️⃣ Consulta general\n\n_Envía 9 en cualquier momento para cancelar._",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -13360,
        -1568
      ],
      "id": "c69d43e0-f458-479e-9a32-723be01f8dfc",
      "name": "Msg Pantalla Tipo",
      "webhookId": "helpdesk-msg-tipo-wh",
      "credentials": {
        "telegramApi": {
          "id": "XJQY0zY3KK1AFGgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "t0",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "9",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "t1",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "tipo1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "t2",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "tipo2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "t3",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "tipo3"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "td",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Default"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -10144,
        -2240
      ],
      "id": "30407d99-3f78-4454-b55f-6a34897a147b",
      "name": "Switch Tipo"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "s-tipo",
              "name": "tipo_label",
              "value": "={{ \n$('Telegram Trigger').item.json.message.text === '1'\n? 'Soporte técnico'\n: $('Telegram Trigger').item.json.message.text === '2'\n? 'Solicitud administrativa'\n: 'Consulta general'\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -9904,
        -2192
      ],
      "id": "3e93b5e1-1c59-41c8-9098-5a46f5b94d29",
      "name": "Set Tipo"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "p0",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "9",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "p1",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "prio1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "p2",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "prio2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "p3",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "prio3"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "pd",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Default"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -10112,
        -1888
      ],
      "id": "1d3334fd-b0b7-4d34-924b-262e510d7e51",
      "name": "Switch Prioridad"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "s-prio",
              "name": "prioridad_label",
              "value": "={{ $('Telegram Trigger').item.json.message.text === '1' ? 'Alta' : $('Telegram Trigger').item.json.message.text === '2' ? 'Media' : 'Baja' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -9840,
        -1856
      ],
      "id": "10083868-a80c-4990-ba63-6915b473d448",
      "name": "Set Prioridad"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "pantalla": "descripcion",
            "prioridad_temp": "={{ $json.prioridad_label }}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "prioridad_temp",
              "displayName": "prioridad_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -9648,
        -1856
      ],
      "id": "d092462e-0195-4c78-81bf-d6d04ea1ee8c",
      "name": "LOG prioridad_temp + pantalla = descripcion",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "📋 *Paso 3 de 4 – Descripción*\n\nEscribe una descripción detallada de tu solicitud.\n_(Texto libre, cualquier extensión)_\n\n_Envía 9 para cancelar y volver al menú._",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -9456,
        -1856
      ],
      "id": "a90a2a1d-4e98-4896-9650-10842fd04e2f",
      "name": "Msg Pantalla Descripcion",
      "webhookId": "helpdesk-msg-desc-wh",
      "credentials": {
        "telegramApi": {
          "id": "XJQY0zY3KK1AFGgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "❌ Opción inválida. Por favor elige:\n\n1️⃣ Alta\n2️⃣ Media\n3️⃣ Baja\n\n_O envía 9 para cancelar._",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -10000,
        -1648
      ],
      "id": "d728374f-997d-4e8b-9169-19e1fd1101f1",
      "name": "Msg Prioridad Invalida",
      "webhookId": "helpdesk-prio-inv-wh",
      "credentials": {
        "telegramApi": {
          "id": "XJQY0zY3KK1AFGgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d0",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "9",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d1",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text.length }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "valida"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "dd",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Default"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -10144,
        -1520
      ],
      "id": "e46d4f95-7889-435b-952e-b1d0a617641f",
      "name": "Switch Descripcion"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "pantalla": "confirmar",
            "descripcion_temp": "={{$json.texto_usuario}}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tipo_temp",
              "displayName": "tipo_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "prioridad_temp",
              "displayName": "prioridad_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "descripcion_temp",
              "displayName": "descripcion_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -9920,
        -1504
      ],
      "id": "d3809ef9-7190-4857-a8e2-5a2e5b1f8ea9",
      "name": "LOG descripcion_temp + pantalla = confirmar",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_user",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.from.id }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -9744,
        -1504
      ],
      "id": "1a346191-f457-43ec-98e1-aa968497fe04",
      "name": "Leer LOGS para Confirmar",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=Paso 4 de 4 - Confirmar solicitud\n\nTipo: {{ $('Leer LOGS para Confirmar').item.json.tipo_temp }}\nPrioridad: {{ $('Leer LOGS para Confirmar').item.json.prioridad_temp }}\nDescripción: {{ $('Leer LOGS para Confirmar').item.json.descripcion_temp }}\n\n1. Sí, crear ticket\n2. No, cancelar\n9. Volver al menú",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -9568,
        -1504
      ],
      "id": "4b44a24a-3c24-458b-a881-3b846aea57f7",
      "name": "Msg Pantalla Confirmar",
      "webhookId": "helpdesk-msg-confirmar-wh",
      "credentials": {
        "telegramApi": {
          "id": "XJQY0zY3KK1AFGgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "❌ Opción inválida. Por favor escribe la descripción de tu problema.\n\n_O envía 9 para cancelar._",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -10032,
        -1344
      ],
      "id": "1aded433-9c7d-4568-adc5-bd83347d0809",
      "name": "Msg Desc Invalida",
      "webhookId": "helpdesk-desc-inv-wh",
      "credentials": {
        "telegramApi": {
          "id": "XJQY0zY3KK1AFGgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c0",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "9",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "volver al menu"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c1",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "guardar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c2",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelar"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -10144,
        -1232
      ],
      "id": "894d24e1-a342-468b-9334-3e1e823f5d8b",
      "name": "Switch Confirmar"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_user",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.from.id.toString() }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -9856,
        -1216
      ],
      "id": "05e76ef0-2d80-43c1-a024-caf317753335",
      "name": "Leer LOGS para Ticket",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 719158985,
          "mode": "list",
          "cachedResultName": "SOLICITUDES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=719158985"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -9728,
        -1216
      ],
      "id": "152e41da-4033-4763-8907-74aa9a25adf0",
      "name": "Leer SOLICITUDES para ID",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "st1",
              "name": "id_ticket",
              "value": "={{ 'HD-' + $now.toMillis() }}",
              "type": "string"
            },
            {
              "id": "st2",
              "name": "tipo_ticket",
              "value": "={{ $('Leer LOGS para Ticket').item.json.tipo_temp }}",
              "type": "string"
            },
            {
              "id": "st3",
              "name": "prioridad_ticket",
              "value": "={{ $('Leer LOGS para Ticket').item.json.prioridad_temp }}",
              "type": "string"
            },
            {
              "id": "st4",
              "name": "descripcion_ticket",
              "value": "={{ $('Leer LOGS para Ticket').item.json.descripcion_temp }}",
              "type": "string"
            },
            {
              "id": "st5",
              "name": "fecha_hoy",
              "value": "={{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -9552,
        -1216
      ],
      "id": "f2ec5946-80dc-4be3-b71d-d25074e3a3e8",
      "name": "Set Datos Ticket",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 719158985,
          "mode": "list",
          "cachedResultName": "SOLICITUDES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=719158985"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_ticket": "={{ $json.id_ticket }}",
            "tipo": "={{ $json.tipo_ticket }}",
            "prioridad": "={{ $json.prioridad_ticket }}",
            "descripcion": "={{ $json.descripcion_ticket }}",
            "estado": "Abierto",
            "creado_por": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "fecha_creacion": "={{ $json.fecha_hoy }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_ticket",
              "displayName": "id_ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "creado_por",
              "displayName": "creado_por",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha_creacion",
              "displayName": "fecha_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -9376,
        -1216
      ],
      "id": "e7019bec-9b30-43ba-948f-33b5bdabdf1e",
      "name": "Append Ticket en SOLICITUDES",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "pantalla": "menu",
            "telegram_user": "={{$('Telegram Trigger').item.json.message.from.id}}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tipo_temp",
              "displayName": "tipo_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "prioridad_temp",
              "displayName": "prioridad_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "descripcion_temp",
              "displayName": "descripcion_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -9200,
        -1216
      ],
      "id": "1c985e36-69b0-4d63-a632-656f0c9e5c3c",
      "name": "LOG pantalla = menu",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=✅ *¡Ticket creado exitosamente!*\n\n🎫 *ID:* {{ $('Set Datos Ticket').item.json.id_ticket }}\n📂 *Tipo:* {{ $('Set Datos Ticket').item.json.tipo_ticket }}\n⚡ *Prioridad:* {{ $('Set Datos Ticket').item.json.prioridad_ticket }}\n📅 *Fecha:* {{ $('Set Datos Ticket').item.json.fecha_hoy }}\n🔖 *Estado:* Abierto\n\nTe notificaremos cuando haya actualizaciones.\n\n────────────────────\n🏠 *MENÚ PRINCIPAL*\n\nMenú principal:\n0. Ayuda\n1. Crear solicitud\n2. Consultar estado de solicitud\n3. Mis solicitudes\n4. Reportes\n5. Configuración",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -9024,
        -1216
      ],
      "id": "34a32184-e7c0-49e9-856c-f6c38a54c98d",
      "name": "Msg Ticket Creado",
      "webhookId": "helpdesk-ticket-ok-wh",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "XJQY0zY3KK1AFGgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "❌ Opción inválida. Por favor elige:\n\n1️⃣ Sí, crear ticket\n2️⃣ No, cancelar\n\n_O envía 9 para volver al menú._",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -10032,
        -992
      ],
      "id": "c20ea077-078d-4222-b113-d286b8f19cc7",
      "name": "Msg Confirmar Invalido",
      "webhookId": "helpdesk-conf-inv-wh",
      "credentials": {
        "telegramApi": {
          "id": "XJQY0zY3KK1AFGgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "m2",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
              "rightValue": "2",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -13088,
        -1360
      ],
      "id": "4aeb7678-1aad-410c-a7ac-94d4596e7365",
      "name": "IF Menu Op2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "pantalla": "consultar_ticket"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -12976,
        -1552
      ],
      "id": "2d84bc3c-38a8-4743-bf57-bdb63518d848",
      "name": "LOG pantalla = consultar_ticket",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "🔍 *Consultar estado de solicitud*\n\nIngresa el ID del ticket (ej: HD-001)\n\n_Envía 9 para cancelar._",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -12832,
        -1552
      ],
      "id": "ee7e1e93-4753-44ec-8d59-ddcff3e68beb",
      "name": "Msg Pedir ID Ticket",
      "webhookId": "1fc36519-606a-4b54-81b8-67261b90e281",
      "credentials": {
        "telegramApi": {
          "id": "XJQY0zY3KK1AFGgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ct0",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "9",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ct1",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text.length }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "buscar"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -10800,
        -432
      ],
      "id": "e7d98980-2444-4937-bf07-85649b0bc91a",
      "name": "Switch Consultar Ticket"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 719158985,
          "mode": "list",
          "cachedResultName": "SOLICITUDES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=719158985"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id_ticket",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.text }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -10688,
        -304
      ],
      "id": "37415667-8259-4466-8222-da6f35e94ad1",
      "name": "Buscar Ticket en SOLICITUDES",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "te1",
              "leftValue": "={{ $json.id_ticket }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -10560,
        -304
      ],
      "id": "8cbbcc4a-3c4b-4388-8c6c-d9143da98847",
      "name": "IF Ticket Existe"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "m3",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
              "rightValue": "3",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -12672,
        -1344
      ],
      "id": "6627edc4-dc9c-4b6d-86b9-290dcced623a",
      "name": "IF Menu Op3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 719158985,
          "mode": "list",
          "cachedResultName": "SOLICITUDES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=719158985"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "creado_por",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.from.id.toString() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -12560,
        -1536
      ],
      "id": "9a8a881e-0067-4aff-8237-659262131fe8",
      "name": "Buscar Mis Solicitudes",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ms1",
              "leftValue": "={{ $json.id_ticket }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -12416,
        -1536
      ],
      "id": "f1f73f60-bd2b-43af-9aa5-b65508319c2d",
      "name": "IF Tiene Solicitudes"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ms-lista",
              "name": "lista_tickets",
              "value": "={{ $items().slice(-3).reverse().map(i => i.json.id_ticket + ' | ' + i.json.estado).join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -12304,
        -1744
      ],
      "id": "d767756d-c5f5-408e-930f-c65c9b6c905a",
      "name": "Set Lista Tickets"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=📋 *Mis últimas solicitudes:*\n\n{{ $json.lista_tickets }}\n\n────────────────\n1. Crear solicitud\n2. Consultar estado\n3. Mis solicitudes\n9. Regresar",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -12160,
        -1744
      ],
      "id": "da7ff490-a417-4e00-8d38-799d65aee076",
      "name": "Msg Mis Solicitudes",
      "webhookId": "25873789-7085-45f5-929a-61cfdf8ce2b5",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "XJQY0zY3KK1AFGgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "pantalla": "menu"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -12016,
        -1744
      ],
      "id": "bb224f2e-b364-4ade-89c6-f777d3c65d13",
      "name": "LOG menu tras mis solicitudes",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "📭 No tienes solicitudes registradas.\n\n────────────────\n1. Crear solicitud\n2. Consultar estado\n3. Mis solicitudes",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -12224,
        -1568
      ],
      "id": "feecffd4-c69b-4dbc-ad45-37016942947e",
      "name": "Msg Sin Solicitudes",
      "webhookId": "88e83bf4-d1bf-464f-b204-6021590d23b2",
      "credentials": {
        "telegramApi": {
          "id": "XJQY0zY3KK1AFGgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "pantalla": "menu"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -12080,
        -1568
      ],
      "id": "c1b9a5ba-6ae9-41cf-902b-485a42156087",
      "name": "LOG menu sin solicitudes",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Hola, soy HelpDeskBot 👋\n\nEstoy aquí para ayudarte con solicitudes de soporte\nde forma rápida y ordenada.\n\nPor favor escribe el número de la opción que quieras usar.\n\nMenú principal:\n0. Ayuda\n1. Crear solicitud\n2. Consultar estado de solicitud\n3. Mis solicitudes\n4. Reportes\n5. Configuración",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -10816,
        -1296
      ],
      "id": "8b421ad7-92d4-4d3d-b85f-757079478b07",
      "name": "MENSAJE DEL MENU",
      "webhookId": "helpdesk-menu-inv-wh",
      "credentials": {
        "telegramApi": {
          "id": "XJQY0zY3KK1AFGgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "📋 *Paso 2 de 4 – Prioridad*\n\nSelecciona la prioridad:\n1️⃣ Alta\n2️⃣ Media\n3️⃣ Baja\n\n_Envía 9 para cancelar y volver al menú._",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -9584,
        -2192
      ],
      "id": "db7adc78-038f-4893-aff5-8a0cf8c28fea",
      "name": "ms prioridad",
      "webhookId": "helpdesk-msg-prioridad-wh",
      "credentials": {
        "telegramApi": {
          "id": "XJQY0zY3KK1AFGgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tipo_temp": "={{$json.tipo_label}}",
            "pantalla": "prioridad",
            "telegram_user": "={{$('Telegram Trigger').item.json.message.from.id}}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tipo_temp",
              "displayName": "tipo_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prioridad_temp",
              "displayName": "prioridad_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "descripcion_temp",
              "displayName": "descripcion_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -9760,
        -2192
      ],
      "id": "e6bb5016-679c-4ba4-a6f4-23aaa2947f5d",
      "name": "log de tipo",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "❌ Opción inválida. Por favor elige:\n\n1️⃣ Soporte técnico\n2️⃣ Solicitud administrativa\n3️⃣ Consulta general\n\n_O envía 9 para cancelar._",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -10000,
        -2032
      ],
      "id": "392fbbba-913c-4dff-a9f1-4d0be2dbde4e",
      "name": "ms tipo invalido",
      "webhookId": "helpdesk-tipo-inv-wh",
      "credentials": {
        "telegramApi": {
          "id": "XJQY0zY3KK1AFGgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "MENSAJE QUE LE SALE AL USUARIO AL PONER UN CARACTER QUE NO SEA VALIDO",
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -10864,
        -1408
      ],
      "typeVersion": 1,
      "id": "0cd60e83-7cec-4c12-8e25-c3c79de398d7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## ACA ES DONDE SE EMPIEZA\nVerifica si el usuario existe, el usuario debe estar registrado para poder utlizar el chat bot",
        "height": 560,
        "width": 1360,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -12224,
        -832
      ],
      "typeVersion": 1,
      "id": "59b8588c-2d5b-4aab-959d-1ea2ec311f76",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{$json.user_id}}",
            "pantalla": "menu",
            "resultado": "cancelado_volver_menu"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tipo_temp",
              "displayName": "tipo_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "prioridad_temp",
              "displayName": "prioridad_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "descripcion_temp",
              "displayName": "descripcion_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -10096,
        -736
      ],
      "id": "d916d1e3-b572-4aca-a56b-8c39987f0477",
      "name": "log cancelar pantalla",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Aca es donde se cancela la soliciud",
        "height": 208,
        "width": 352,
        "color": "#FF0000"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -10128,
        -800
      ],
      "typeVersion": 1,
      "id": "4da9d03c-eb59-4b10-8d8f-785242e1b125",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Solicitud cancelada ✅\n\nVolviendo al menú principal...\n\n0. Ayuda\n1. Crear solicitud\n2. Consultar estado\n3. Mis solicitudes\n4. Reportes\n5. Configuración",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -9920,
        -736
      ],
      "id": "3be5f9ef-b3cc-48e9-aa52-90bc5519149b",
      "name": "ms de cancelacion",
      "webhookId": "helpdesk-cancelado-wh",
      "credentials": {
        "telegramApi": {
          "id": "XJQY0zY3KK1AFGgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=🎫 *Detalle del ticket*\n\n🆔 *ID:* {{ $json.id_ticket }}\n📂 *Tipo:* {{ $json.tipo }}\n⚡ *Prioridad:* {{ $json.prioridad }}\n🔖 *Estado:* {{ $json.estado }}\n📅 *Fecha:* {{ $json.fecha_creacion }}\n\n────────────────\n1. Crear solicitud\n2. Consultar estado\n3. Mis solicitudes",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -10416,
        -320
      ],
      "id": "8754cfef-5238-4270-bbed-5a8f30478cc1",
      "name": "detalle ticket",
      "webhookId": "05d01601-0725-457a-8e0c-94587420a632",
      "credentials": {
        "telegramApi": {
          "id": "XJQY0zY3KK1AFGgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "pantalla": "menu"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -10288,
        -320
      ],
      "id": "42eb62dc-c8e3-4ced-a5bb-512ad8f965d1",
      "name": "log menu tras consultar",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "❌ Ticket no encontrado.\n\nVerifica el ID e intenta de nuevo (ej: *HD-001*)\nO envía *9* para cancelar.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -10416,
        -112
      ],
      "id": "4a25c2ae-bf46-4ff7-8529-f4272bf6dc74",
      "name": "ms ticket no encontrado",
      "webhookId": "f7c5f5f4-7839-4ce3-a29d-1fd650aa8f59",
      "credentials": {
        "telegramApi": {
          "id": "XJQY0zY3KK1AFGgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 1. Crear solicitud \nAca es donde se le pide al usuario que escoja el tipo de solicitud que vaya a realizar ",
        "height": 592,
        "width": 688,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -13808,
        -1696
      ],
      "typeVersion": 1,
      "id": "e66b0327-ef88-445a-b55f-e22340f5262e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "### Menu de Crear solicitud\n## Aca aparecen las opciones  Tipo de solicitud -  Prioridad -  Descripción - Confirmar solicitud",
        "height": 1504,
        "width": 1376
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -10160,
        -2352
      ],
      "typeVersion": 1,
      "id": "b000ff21-3aef-4a6e-8ed0-09f720f24f52",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Consultar estado de solicitud",
        "height": 640,
        "width": 368,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -13088,
        -1712
      ],
      "typeVersion": 1,
      "id": "e9f11a80-b797-4d61-b680-903ca695ef68",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Consultar solicitudes",
        "height": 528,
        "width": 752,
        "color": "#45696E"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -12672,
        -1760
      ],
      "typeVersion": 1,
      "id": "f1d1943b-5147-4ebe-96fd-e2dd6048c190",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "##  Detalle del ticket",
        "height": 512,
        "width": 640,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -10816,
        -480
      ],
      "typeVersion": 1,
      "id": "4ab93503-51fa-46d4-82ba-fc4f03d09e0f",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "m4",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
              "rightValue": "4",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -11744,
        -1328
      ],
      "id": "aba56e86-2ab3-4f78-b479-c16a891267b9",
      "name": "IF Menu Op4"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "pantalla": "reportes"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -11632,
        -1488
      ],
      "id": "aa9efdf7-1e01-4c60-81da-26327353bce4",
      "name": "LOG pantalla = reportes",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 719158985,
          "mode": "list",
          "cachedResultName": "SOLICITUDES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=719158985"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "creado_por",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.from.id.toString() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -11488,
        -1488
      ],
      "id": "71f6b6aa-cad9-49ff-aac5-0fb898d70053",
      "name": "Leer SOLICITUDES para Reporte",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r1",
              "name": "total",
              "type": "number",
              "value": "={{ $items().length }}"
            },
            {
              "id": "r2",
              "name": "abiertos",
              "type": "number",
              "value": "={{ $items().filter(i => i.json.estado === 'Abierto').length }}"
            },
            {
              "id": "r3",
              "name": "cerrados",
              "type": "number",
              "value": "={{ $items().filter(i => i.json.estado === 'Cerrado').length }}"
            },
            {
              "id": "r4",
              "name": "alta_prioridad",
              "type": "number",
              "value": "={{ $items().filter(i => i.json.prioridad === 'Alta').length }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -11728,
        -1664
      ],
      "id": "1b07446f-817e-489f-a70d-55f0a9f93257",
      "name": "Set Reporte Stats",
      "executeOnce": true
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=📊 *Reporte personal*\n\nTotal tickets: {{ $json.total }}\nAbiertos: {{ $json.abiertos }}\nCerrados: {{ $json.cerrados }}\nAlta prioridad: {{ $json.alta_prioridad }}\n\n────────────────────\n9️⃣ Escribe *9* para volver al menú",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -11600,
        -1664
      ],
      "id": "b51571ce-4fa7-47f1-bfe5-910f72f71304",
      "name": "Msg Reporte Personal",
      "webhookId": "7e1be1e7-13e9-4366-8ac3-bbe1428bb6e5",
      "credentials": {
        "telegramApi": {
          "id": "XJQY0zY3KK1AFGgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "pantalla": "menu"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -11472,
        -1664
      ],
      "id": "30c97d53-61af-4555-9ff8-c78f6280b88d",
      "name": "LOG menu tras reporte",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "rp0",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "9",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "volver"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -10432,
        -736
      ],
      "id": "42962ef3-b279-47c2-b67b-225c46e2dd26",
      "name": "Switch Reportes"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "m5",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
              "rightValue": "5",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -11248,
        -1312
      ],
      "id": "50e71ddb-6f52-485a-8991-3da80c2b7b0e",
      "name": "IF Menu Op5"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "pantalla": "configuracion"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -11136,
        -1456
      ],
      "id": "fcc328f5-d713-4166-89cc-cc11b450e5f0",
      "name": "LOG pantalla = configuracion",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "⚙️ *Configuración*\n\n1️⃣ Ver perfil\n9️⃣ Volver al menú",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -11120,
        -1616
      ],
      "id": "f6c18c6d-8460-4373-82a7-e0f841e279d6",
      "name": "Msg Configuracion",
      "webhookId": "00b42a3d-3846-4c52-afe3-ba7caa7c4103",
      "credentials": {
        "telegramApi": {
          "id": "XJQY0zY3KK1AFGgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "pantalla": "menu"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -11120,
        -1760
      ],
      "id": "99d32498-e5f3-4c14-91d0-9dce7098b762",
      "name": "LOG menu tras config",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1113605684,
          "mode": "list",
          "cachedResultName": "USUARIOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=1113605684"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=telegram_user",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.from.id }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -9664,
        -432
      ],
      "id": "05dfb5f7-d72a-448a-a1db-ff6383120532",
      "name": "Leer Usuario para Perfil",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=👤 *Mi Perfil*\n\n🧑 *Usuario:* {{ $json.nombre || $json.telegram_user }}\n🎭 *Rol:* {{ $json.rol || 'Usuario' }}\n✅ *Estado:* {{ $json.activo === 'Sí' ? 'Activo' : 'Inactivo' }}\n\n9️⃣ Escribe *9* para volver al menú",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -9504,
        -432
      ],
      "id": "5500c7cd-cc5b-4de5-a099-b82cecbc70dd",
      "name": "Msg Perfil",
      "webhookId": "8ec0fc68-74b1-4f80-953b-c245326cdbf7",
      "credentials": {
        "telegramApi": {
          "id": "XJQY0zY3KK1AFGgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "pantalla": "menu"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -9360,
        -432
      ],
      "id": "cb9d4079-74b8-4bb3-b62a-f1ef50f1294e",
      "name": "LOG menu tras perfil",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Opción 4 – Reportes\nMuestra resumen de tickets del usuario filtrado por creado_por.",
        "height": 640,
        "width": 432,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -11792,
        -1824
      ],
      "typeVersion": 1,
      "id": "61881dbd-e222-4fd5-a7f4-f0cbe26e19a3",
      "name": "Sticky Reportes"
    },
    {
      "parameters": {
        "content": "## Opción 5 – Configuración\nSubmenú: notificaciones y perfil del usuario.",
        "height": 672,
        "width": 368,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -11264,
        -1856
      ],
      "typeVersion": 1,
      "id": "cf37bc7c-5aaf-4e76-905e-46504012b1c7",
      "name": "Sticky Config"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "pantalla": "menu"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -10000,
        -1216
      ],
      "id": "9e4329ab-ad34-40ba-8b11-02420519e2ce",
      "name": "LOG pantalla = procesando",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cf9",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "9",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "volver"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cf2",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "perfil"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -9904,
        -448
      ],
      "id": "652833a2-40f4-4ccc-84cc-1a4560709d1e",
      "name": "Switch configuracion"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Buscar Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Usuario": {
      "main": [
        [
          {
            "node": "IF Usuario Activo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Usuario Activo": {
      "main": [
        [
          {
            "node": "Leer Estado Actual",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg No Acceso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Estado Actual": {
      "main": [
        [
          {
            "node": "IF Fila LOGS Existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Fila LOGS Existe": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Inicializar LOGS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inicializar LOGS": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Switch por Pantalla",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch por Pantalla": {
      "main": [
        [
          {
            "node": "IF Menu Op1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Tipo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Prioridad",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Descripcion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Confirmar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Consultar Ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Menu Op3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Reportes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch configuracion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Menu Op1": {
      "main": [
        [
          {
            "node": "LOG pantalla = tipo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Menu Op2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG pantalla = tipo": {
      "main": [
        [
          {
            "node": "Msg Pantalla Tipo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Tipo": {
      "main": [
        [
          {
            "node": "log cancelar pantalla",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Tipo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Tipo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Tipo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ms tipo invalido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Tipo": {
      "main": [
        [
          {
            "node": "log de tipo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Prioridad": {
      "main": [
        [
          {
            "node": "log cancelar pantalla",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Prioridad",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Prioridad",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Prioridad",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg Prioridad Invalida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Prioridad": {
      "main": [
        [
          {
            "node": "LOG prioridad_temp + pantalla = descripcion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG prioridad_temp + pantalla = descripcion": {
      "main": [
        [
          {
            "node": "Msg Pantalla Descripcion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Descripcion": {
      "main": [
        [
          {
            "node": "log cancelar pantalla",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LOG descripcion_temp + pantalla = confirmar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg Desc Invalida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG descripcion_temp + pantalla = confirmar": {
      "main": [
        [
          {
            "node": "Leer LOGS para Confirmar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer LOGS para Confirmar": {
      "main": [
        [
          {
            "node": "Msg Pantalla Confirmar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Confirmar": {
      "main": [
        [
          {
            "node": "log cancelar pantalla",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LOG pantalla = procesando",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "log cancelar pantalla",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer LOGS para Ticket": {
      "main": [
        [
          {
            "node": "Leer SOLICITUDES para ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer SOLICITUDES para ID": {
      "main": [
        [
          {
            "node": "Set Datos Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Datos Ticket": {
      "main": [
        [
          {
            "node": "Append Ticket en SOLICITUDES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Ticket en SOLICITUDES": {
      "main": [
        [
          {
            "node": "LOG pantalla = menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG pantalla = menu": {
      "main": [
        [
          {
            "node": "Msg Ticket Creado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Menu Op2": {
      "main": [
        [
          {
            "node": "LOG pantalla = consultar_ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Menu Op3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG pantalla = consultar_ticket": {
      "main": [
        [
          {
            "node": "Msg Pedir ID Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Menu Op3": {
      "main": [
        [
          {
            "node": "Buscar Mis Solicitudes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Menu Op4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Consultar Ticket": {
      "main": [
        [
          {
            "node": "log cancelar pantalla",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar Ticket en SOLICITUDES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Ticket en SOLICITUDES": {
      "main": [
        [
          {
            "node": "IF Ticket Existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Ticket Existe": {
      "main": [
        [
          {
            "node": "detalle ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ms ticket no encontrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Mis Solicitudes": {
      "main": [
        [
          {
            "node": "IF Tiene Solicitudes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Tiene Solicitudes": {
      "main": [
        [
          {
            "node": "Set Lista Tickets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg Sin Solicitudes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Lista Tickets": {
      "main": [
        [
          {
            "node": "Msg Mis Solicitudes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg Mis Solicitudes": {
      "main": [
        [
          {
            "node": "LOG menu tras mis solicitudes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg Sin Solicitudes": {
      "main": [
        [
          {
            "node": "LOG menu sin solicitudes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "log de tipo": {
      "main": [
        [
          {
            "node": "ms prioridad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "log cancelar pantalla": {
      "main": [
        [
          {
            "node": "ms de cancelacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "detalle ticket": {
      "main": [
        [
          {
            "node": "log menu tras consultar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Menu Op4": {
      "main": [
        [
          {
            "node": "LOG pantalla = reportes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Menu Op5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG pantalla = reportes": {
      "main": [
        [
          {
            "node": "Leer SOLICITUDES para Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer SOLICITUDES para Reporte": {
      "main": [
        [
          {
            "node": "Set Reporte Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Reporte Stats": {
      "main": [
        [
          {
            "node": "Msg Reporte Personal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg Reporte Personal": {
      "main": [
        [
          {
            "node": "LOG menu tras reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Reportes": {
      "main": [
        [
          {
            "node": "log cancelar pantalla",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Menu Op5": {
      "main": [
        [
          {
            "node": "LOG pantalla = configuracion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MENSAJE DEL MENU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG pantalla = configuracion": {
      "main": [
        [
          {
            "node": "Msg Configuracion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Usuario para Perfil": {
      "main": [
        [
          {
            "node": "Msg Perfil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg Perfil": {
      "main": [
        [
          {
            "node": "LOG menu tras perfil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG pantalla = procesando": {
      "main": [
        [
          {
            "node": "Leer LOGS para Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG menu tras config": {
      "main": [
        []
      ]
    },
    "Switch configuracion": {
      "main": [
        [
          {
            "node": "log cancelar pantalla",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Leer Usuario para Perfil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "fed070bd-0abe-4c22-85c1-853851c36556",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8e8c04a7bbfbfbfd9fd3ca193aa4ae9cf6a57c7a58f53d522d20736f4fcc7b36"
  },
  "id": "3esv9XrL7ueazFlg",
  "tags": []
}