HelpDeskBot.json
{
  "name": "HelpDeskBot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2352,
        3312
      ],
      "id": "f700a457-b9c5-45d1-ab12-dd90f9896df0",
      "name": "Telegram Trigger",
      "webhookId": "helpdesk-bot-webhook-001",
      "credentials": {
        "telegramApi": {
          "id": "XJQY0zY3KK1AFGgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1113605684,
          "mode": "list",
          "cachedResultName": "USUARIOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=1113605684"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=telegram_user",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.from.id }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2144,
        3312
      ],
      "id": "3f7f75bf-1857-4bd5-81d5-0576a3786dea",
      "name": "Buscar Usuario",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-activo",
              "leftValue": "={{ $json.activo }}",
              "rightValue": "Sí",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1856,
        3312
      ],
      "id": "106013d0-3270-4026-b8a8-c0ef19aa0715",
      "name": "IF Usuario Activo"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "⛔ No tienes acceso a este sistema. Contacta al administrador.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1712,
        3520
      ],
      "id": "7b5a9284-6adc-4a85-b4d4-3641d45c01ac",
      "name": "Msg No Acceso",
      "webhookId": "helpdesk-no-acceso-wh",
      "credentials": {
        "telegramApi": {
          "id": "XJQY0zY3KK1AFGgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=telegram_user",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.from.id }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1520,
        3264
      ],
      "id": "774a49ab-aaaa-45a9-8a66-3f2776e6d2eb",
      "name": "Leer Estado Actual",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-logs-existe",
              "leftValue": "={{$json.telegram_user}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1264,
        3264
      ],
      "id": "e860b44b-eeaa-41b7-9249-a1360403811e",
      "name": "IF Fila LOGS Existe"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{String($('Telegram Trigger').item.json.message.from.id)}}",
            "pantalla": "menu"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tipo_temp",
              "displayName": "tipo_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "prioridad_temp",
              "displayName": "prioridad_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "descripcion_temp",
              "displayName": "descripcion_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1152,
        3584
      ],
      "id": "b40dcf0c-47ec-4f41-a5e7-827da00d4556",
      "name": "Inicializar LOGS",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "pantalla",
              "value": "={{ $json.pantalla || 'menu' }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "texto_usuario",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "user_id",
              "value": "={{ $('Telegram Trigger').item.json.message.from.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -960,
        3280
      ],
      "id": "efde44ef-e375-4648-ae02-a09fbf73a9ef",
      "name": "Set Variables"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "76c69119-390e-4d22-b7a6-b6f13d8b5038",
                    "leftValue": "={{$json.pantalla}}",
                    "rightValue": "menu",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5773ec15-b1c4-4b74-8d46-404ffe4bacfe",
                    "leftValue": "={{$json.pantalla}}",
                    "rightValue": "tipo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7e44f693-b157-4a62-8303-46bcb8738b87",
                    "leftValue": "={{$json.pantalla}}",
                    "rightValue": "prioridad",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ae583efa-cc1f-4cb6-a13e-f40246f1c1e1",
                    "leftValue": "={{$json.pantalla}}",
                    "rightValue": "descripcion",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fa06e3fa-8bdf-4266-b1ec-9eeb18d097dc",
                    "leftValue": "={{$json.pantalla}}",
                    "rightValue": "confirmar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "sp5",
                    "leftValue": "={{$json.pantalla}}",
                    "rightValue": "consultar_ticket",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "sp6",
                    "leftValue": "={{$json.pantalla}}",
                    "rightValue": "mis_solicitudes",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -768,
        3328
      ],
      "id": "bdb2382b-46df-472d-a339-aadc5ad96c73",
      "name": "Switch por Pantalla"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "m1",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -672,
        1152
      ],
      "id": "f0891b60-ab60-4c23-9b93-c750353eda66",
      "name": "IF Menu Op1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "pantalla": "tipo"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tipo_temp",
              "displayName": "tipo_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "prioridad_temp",
              "displayName": "prioridad_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "descripcion_temp",
              "displayName": "descripcion_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -448,
        1168
      ],
      "id": "2becd1d6-1844-4bd5-a4ae-c103ab2884c4",
      "name": "LOG pantalla = tipo",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "📋 *Paso 1 de 4 – Tipo de solicitud*\n\nSelecciona el tipo:\n1️⃣ Soporte técnico\n2️⃣ Solicitud administrativa\n3️⃣ Consulta general\n\n_Envía 9 en cualquier momento para cancelar._",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -208,
        1280
      ],
      "id": "5efaa1f1-acf2-4725-8501-65b70e75685b",
      "name": "Msg Pantalla Tipo",
      "webhookId": "helpdesk-msg-tipo-wh",
      "credentials": {
        "telegramApi": {
          "id": "XJQY0zY3KK1AFGgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Hola, soy HelpDeskBot 👋\n\nEstoy aquí para ayudarte con solicitudes de soporte\nde forma rápida y ordenada.\n\nPor favor escribe el número de la opción que quieras usar.\n\nMenú principal:\n0. Ayuda\n1. Crear solicitud\n2. Consultar estado de solicitud\n3. Mis solicitudes\n4. Reportes\n5. Configuración",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -624,
        1408
      ],
      "id": "e00d95a2-66c2-4d2d-9493-fde3e7d569f6",
      "name": "Msg Menu Invalido",
      "webhookId": "helpdesk-menu-inv-wh",
      "credentials": {
        "telegramApi": {
          "id": "XJQY0zY3KK1AFGgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "t0",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "9",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "t1",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "valido"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "t2",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "valido"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "t3",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "valido"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "td",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Default"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -352,
        1600
      ],
      "id": "cc10f66c-49c9-4f07-94cc-f6b7c39caf05",
      "name": "Switch Tipo"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "s-tipo",
              "name": "tipo_label",
              "value": "={{ \n$('Telegram Trigger').item.json.message.text === '1'\n? 'Soporte técnico'\n: $('Telegram Trigger').item.json.message.text === '2'\n? 'Solicitud administrativa'\n: 'Consulta general'\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        1648
      ],
      "id": "55d92b2b-9d57-4c72-bf18-67f5a2217b50",
      "name": "Set Tipo"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tipo_temp": "={{$json.tipo_label}}",
            "pantalla": "prioridad",
            "telegram_user": "={{$('Telegram Trigger').item.json.message.from.id}}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tipo_temp",
              "displayName": "tipo_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prioridad_temp",
              "displayName": "prioridad_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "descripcion_temp",
              "displayName": "descripcion_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        64,
        1648
      ],
      "id": "365d7e23-c798-4024-9410-9701c903ee68",
      "name": "LOG tipo_temp + pantalla = prioridad",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "📋 *Paso 2 de 4 – Prioridad*\n\nSelecciona la prioridad:\n1️⃣ Alta\n2️⃣ Media\n3️⃣ Baja\n\n_Envía 9 para cancelar y volver al menú._",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        304,
        1648
      ],
      "id": "a1770be0-1fb5-48f9-98fe-dd00fd8a8c08",
      "name": "Msg Pantalla Prioridad",
      "webhookId": "helpdesk-msg-prioridad-wh",
      "credentials": {
        "telegramApi": {
          "id": "XJQY0zY3KK1AFGgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "❌ Opción inválida. Por favor elige:\n\n1️⃣ Soporte técnico\n2️⃣ Solicitud administrativa\n3️⃣ Consulta general\n\n_O envía 9 para cancelar._",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -192,
        1856
      ],
      "id": "3c850c89-60ba-45a6-acbc-fb1037f383ce",
      "name": "Msg Tipo Invalido",
      "webhookId": "helpdesk-tipo-inv-wh",
      "credentials": {
        "telegramApi": {
          "id": "XJQY0zY3KK1AFGgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "p0",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "9",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "p1",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "valido"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "p2",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "valido"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "p3",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "valido"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "pd",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Default"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -256,
        2176
      ],
      "id": "8a7415d6-ad62-4e45-8a8f-cc3438d60545",
      "name": "Switch Prioridad"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "s-prio",
              "name": "prioridad_label",
              "value": "={{ $('Telegram Trigger').item.json.message.text === '1' ? 'Alta' : $('Telegram Trigger').item.json.message.text === '2' ? 'Media' : 'Baja' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        2208
      ],
      "id": "664e687a-4898-4e65-9778-cb27dd23c0c0",
      "name": "Set Prioridad"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "pantalla": "descripcion",
            "prioridad_temp": "={{ $json.prioridad_label }}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "prioridad_temp",
              "displayName": "prioridad_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        480,
        2208
      ],
      "id": "98a33269-e7e0-408c-a7c3-37352f4d1561",
      "name": "LOG prioridad_temp + pantalla = descripcion",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "📋 *Paso 3 de 4 – Descripción*\n\nEscribe una descripción detallada de tu solicitud.\n_(Texto libre, cualquier extensión)_\n\n_Envía 9 para cancelar y volver al menú._",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        2208
      ],
      "id": "59f05104-eecb-48d9-b8f2-c53e737a762b",
      "name": "Msg Pantalla Descripcion",
      "webhookId": "helpdesk-msg-desc-wh",
      "credentials": {
        "telegramApi": {
          "id": "XJQY0zY3KK1AFGgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "❌ Opción inválida. Por favor elige:\n\n1️⃣ Alta\n2️⃣ Media\n3️⃣ Baja\n\n_O envía 9 para cancelar._",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        240,
        2336
      ],
      "id": "2c1388c1-8028-4c8b-88c2-1df4045fdf3c",
      "name": "Msg Prioridad Invalida",
      "webhookId": "helpdesk-prio-inv-wh",
      "credentials": {
        "telegramApi": {
          "id": "XJQY0zY3KK1AFGgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d0",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "9",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d1",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text.length }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "valida"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "dd",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Default"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -224,
        2576
      ],
      "id": "5592d668-2ecc-4eb5-9004-e502fe5eed43",
      "name": "Switch Descripcion"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "pantalla": "confirmar",
            "descripcion_temp": "={{$json.texto_usuario}}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tipo_temp",
              "displayName": "tipo_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "prioridad_temp",
              "displayName": "prioridad_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "descripcion_temp",
              "displayName": "descripcion_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        272,
        2624
      ],
      "id": "efb31540-472f-4fe5-8707-626c02af12ed",
      "name": "LOG descripcion_temp + pantalla = confirmar",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_user",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.from.id }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        512,
        2624
      ],
      "id": "498eef3e-9648-4668-9c1d-c9688b2c91bc",
      "name": "Leer LOGS para Confirmar",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=Paso 4 de 4 - Confirmar solicitud\n\nTipo: {{ $('Leer LOGS para Confirmar').item.json.tipo_temp }}\nPrioridad: {{ $('Leer LOGS para Confirmar').item.json.prioridad_temp }}\nDescripción: {{ $('Leer LOGS para Confirmar').item.json.descripcion_temp }}\n\n1. Sí, crear ticket\n2. No, cancelar\n9. Volver al menú",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        752,
        2624
      ],
      "id": "f3cd086f-8c49-41b2-8f07-acbd2b1ebaa3",
      "name": "Msg Pantalla Confirmar",
      "webhookId": "helpdesk-msg-confirmar-wh",
      "credentials": {
        "telegramApi": {
          "id": "XJQY0zY3KK1AFGgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "❌ Opción inválida. Por favor escribe la descripción de tu problema.\n\n_O envía 9 para cancelar._",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        272,
        2784
      ],
      "id": "fc39dd43-8baf-4634-ba58-3c1fad4f3953",
      "name": "Msg Desc Invalida",
      "webhookId": "helpdesk-desc-inv-wh",
      "credentials": {
        "telegramApi": {
          "id": "XJQY0zY3KK1AFGgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c0",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "9",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c1",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "guardar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c2",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cd",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Default"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -240,
        2960
      ],
      "id": "7c166481-d5da-4702-8de3-804605167349",
      "name": "Switch Confirmar"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_user",
              "lookupValue": "={{$json.user_id}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        3136
      ],
      "id": "f80df1ca-51d9-42a8-be44-6510dfc122fd",
      "name": "Leer LOGS para Ticket",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 719158985,
          "mode": "list",
          "cachedResultName": "SOLICITUDES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=719158985"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        496,
        3136
      ],
      "id": "b1d5702f-f3dd-4098-b311-d1337717da60",
      "name": "Leer SOLICITUDES para ID",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "st1",
              "name": "id_ticket",
              "value": "={{ 'HD-' + String($('Leer SOLICITUDES para ID').all().length + 1).padStart(3, '0') }}",
              "type": "string"
            },
            {
              "id": "st2",
              "name": "tipo_ticket",
              "value": "={{ $('Leer LOGS para Ticket').item.json.tipo_temp }}",
              "type": "string"
            },
            {
              "id": "st3",
              "name": "prioridad_ticket",
              "value": "={{ $('Leer LOGS para Ticket').item.json.prioridad_temp }}",
              "type": "string"
            },
            {
              "id": "st4",
              "name": "descripcion_ticket",
              "value": "={{ $('Leer LOGS para Ticket').item.json.descripcion_temp }}",
              "type": "string"
            },
            {
              "id": "st5",
              "name": "fecha_hoy",
              "value": "={{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        3136
      ],
      "id": "31ef924c-6a7e-48e7-9e1f-5d0a4750ba8c",
      "name": "Set Datos Ticket"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 719158985,
          "mode": "list",
          "cachedResultName": "SOLICITUDES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=719158985"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_ticket": "={{ $json.id_ticket }}",
            "tipo": "={{ $json.tipo_ticket }}",
            "prioridad": "={{ $json.prioridad_ticket }}",
            "descripcion": "={{ $json.descripcion_ticket }}",
            "estado": "Abierto",
            "creado_por": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "fecha_creacion": "={{ $json.fecha_hoy }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_ticket",
              "displayName": "id_ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "creado_por",
              "displayName": "creado_por",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha_creacion",
              "displayName": "fecha_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        3136
      ],
      "id": "54bcbd46-8c2f-467a-8438-6bf28696dd68",
      "name": "Append Ticket en SOLICITUDES",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "pantalla": "menu",
            "telegram_user": "={{$('Telegram Trigger').item.json.message.from.id}}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tipo_temp",
              "displayName": "tipo_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "prioridad_temp",
              "displayName": "prioridad_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "descripcion_temp",
              "displayName": "descripcion_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1216,
        3136
      ],
      "id": "32b7ef18-2d10-407b-85dc-2920b5f24b9b",
      "name": "LOG pantalla = menu",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=✅ *¡Ticket creado exitosamente!*\n\n🎫 *ID:* {{ $('Set Datos Ticket').item.json.id_ticket }}\n📂 *Tipo:* {{ $('Set Datos Ticket').item.json.tipo_ticket }}\n⚡ *Prioridad:* {{ $('Set Datos Ticket').item.json.prioridad_ticket }}\n📅 *Fecha:* {{ $('Set Datos Ticket').item.json.fecha_hoy }}\n🔖 *Estado:* Abierto\n\nTe notificaremos cuando haya actualizaciones.\n\n────────────────────\n🏠 *MENÚ PRINCIPAL*\n\nMenú principal:\n0. Ayuda\n1. Crear solicitud\n2. Consultar estado de solicitud\n3. Mis solicitudes\n4. Reportes\n5. Configuración",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1424,
        3136
      ],
      "id": "ce9751e1-ebfb-4766-8437-ccc3b1183f39",
      "name": "Msg Ticket Creado",
      "webhookId": "helpdesk-ticket-ok-wh",
      "credentials": {
        "telegramApi": {
          "id": "XJQY0zY3KK1AFGgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "❌ Opción inválida. Por favor elige:\n\n1️⃣ Sí, crear ticket\n2️⃣ No, cancelar\n\n_O envía 9 para volver al menú._",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -176,
        3312
      ],
      "id": "8b9ca177-178e-49bd-a795-8bdeb1f47515",
      "name": "Msg Confirmar Invalido",
      "webhookId": "helpdesk-conf-inv-wh",
      "credentials": {
        "telegramApi": {
          "id": "XJQY0zY3KK1AFGgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{$json.user_id}}",
            "pantalla": "menu",
            "resultado": "cancelado_volver_menu"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tipo_temp",
              "displayName": "tipo_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "prioridad_temp",
              "displayName": "prioridad_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "descripcion_temp",
              "displayName": "descripcion_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -272,
        3488
      ],
      "id": "4ee1e2c5-0b7a-4eb2-868b-241b703d5014",
      "name": "LOG Cancelar pantalla = menu",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Solicitud cancelada ✅\n\nVolviendo al menú principal...\n\n0. Ayuda\n1. Crear solicitud\n2. Consultar estado\n3. Mis solicitudes\n4. Reportes\n5. Configuración",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -32,
        3488
      ],
      "id": "0bd31d7f-89ed-41c1-92c0-46957ff0720f",
      "name": "Msg Cancelado volver Menu",
      "webhookId": "helpdesk-cancelado-wh",
      "credentials": {
        "telegramApi": {
          "id": "XJQY0zY3KK1AFGgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "m2",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
              "rightValue": "2",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -560,
        656
      ],
      "id": "4fe3825e-3f4f-4285-8577-c57a7008b39b",
      "name": "IF Menu Op2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "pantalla": "consultar_ticket"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -336,
        656
      ],
      "id": "136cb7aa-19e0-4656-b0a5-8cb79782af11",
      "name": "LOG pantalla = consultar_ticket",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "🔍 *Consultar estado de solicitud*\n\nIngresa el ID del ticket (ej: HD-001)\n\n_Envía 9 para cancelar._",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -96,
        656
      ],
      "id": "8e0510fa-a0c0-41ed-b910-88250b239710",
      "name": "Msg Pedir ID Ticket",
      "webhookId": "1fc36519-606a-4b54-81b8-67261b90e281",
      "credentials": {
        "telegramApi": {
          "id": "XJQY0zY3KK1AFGgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ct0",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "9",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ct1",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text.length }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "buscar"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -224,
        1072
      ],
      "id": "a63230f3-0128-48dd-ac24-a216277ab483",
      "name": "Switch Consultar Ticket"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 719158985,
          "mode": "list",
          "cachedResultName": "SOLICITUDES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=719158985"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id_ticket",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.text }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        16,
        1072
      ],
      "id": "b8707226-ea42-4914-8806-7e4e7e7f277b",
      "name": "Buscar Ticket en SOLICITUDES",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "te1",
              "leftValue": "={{ $json.id_ticket }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        256,
        1072
      ],
      "id": "ff79543d-b648-4bc8-b537-8872ff702d99",
      "name": "IF Ticket Existe"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=🎫 *Detalle del ticket*\n\n🆔 *ID:* {{ $json.id_ticket }}\n📂 *Tipo:* {{ $json.tipo }}\n⚡ *Prioridad:* {{ $json.prioridad }}\n🔖 *Estado:* {{ $json.estado }}\n📅 *Fecha:* {{ $json.fecha_creacion }}\n\n────────────────\n1. Crear solicitud\n2. Consultar estado\n3. Mis solicitudes",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        496,
        1152
      ],
      "id": "e74a9252-8c1e-4714-b662-67536876240a",
      "name": "Msg Ticket Encontrado",
      "webhookId": "05d01601-0725-457a-8e0c-94587420a632",
      "credentials": {
        "telegramApi": {
          "id": "XJQY0zY3KK1AFGgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "pantalla": "menu"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        736,
        1152
      ],
      "id": "7ed688de-dcf0-4b8e-ba82-200cc6fd68cd",
      "name": "LOG menu tras consultar",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "❌ Ticket no encontrado.\n\nVerifica el ID e intenta de nuevo (ej: *HD-001*)\nO envía *9* para cancelar.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        496,
        976
      ],
      "id": "873f9262-94f5-496c-b8df-c7a7744bab13",
      "name": "Msg Ticket No Encontrado",
      "webhookId": "f7c5f5f4-7839-4ce3-a29d-1fd650aa8f59",
      "credentials": {
        "telegramApi": {
          "id": "XJQY0zY3KK1AFGgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "m3",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
              "rightValue": "3",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -672,
        352
      ],
      "id": "e5a952dc-b36b-48af-bd4e-9ed2d795a5de",
      "name": "IF Menu Op3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 719158985,
          "mode": "list",
          "cachedResultName": "SOLICITUDES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=719158985"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "creado_por",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -448,
        352
      ],
      "id": "be8ec9cb-628a-40b2-b055-13a6a1c9ec77",
      "name": "Buscar Mis Solicitudes",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ms1",
              "leftValue": "={{ $json.id_ticket }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        352
      ],
      "id": "d698b180-93da-480c-8109-9bd26e982a38",
      "name": "IF Tiene Solicitudes"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ms-lista",
              "name": "lista_tickets",
              "value": "={{ $items().slice(-3).reverse().map(i => i.json.id_ticket + ' | ' + i.json.estado).join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        432
      ],
      "id": "af9caf68-c1c2-4b69-930b-5414d533b881",
      "name": "Set Lista Tickets"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=📋 *Mis últimas solicitudes:*\n\n{{ $json.lista_tickets }}\n\n────────────────\n1. Crear solicitud\n2. Consultar estado\n3. Mis solicitudes",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        272,
        432
      ],
      "id": "cf24c2c9-38ed-4b3d-a93d-ac32336a0f86",
      "name": "Msg Mis Solicitudes",
      "webhookId": "25873789-7085-45f5-929a-61cfdf8ce2b5",
      "credentials": {
        "telegramApi": {
          "id": "XJQY0zY3KK1AFGgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "pantalla": "menu"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        512,
        432
      ],
      "id": "91d8b4d4-2dff-4512-b36e-8fbc9e64cd4d",
      "name": "LOG menu tras mis solicitudes",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "📭 No tienes solicitudes registradas.\n\n────────────────\n1. Crear solicitud\n2. Consultar estado\n3. Mis solicitudes",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        32,
        272
      ],
      "id": "e54b0108-c55b-44eb-84d2-adfe3354e3c3",
      "name": "Msg Sin Solicitudes",
      "webhookId": "88e83bf4-d1bf-464f-b204-6021590d23b2",
      "credentials": {
        "telegramApi": {
          "id": "XJQY0zY3KK1AFGgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "pantalla": "menu"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        272,
        272
      ],
      "id": "06ff0bf0-57b4-4f58-85e9-604df86d0db4",
      "name": "LOG menu sin solicitudes",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hQWoCD35wUuMld6K",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Buscar Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Usuario": {
      "main": [
        [
          {
            "node": "IF Usuario Activo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Usuario Activo": {
      "main": [
        [
          {
            "node": "Leer Estado Actual",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg No Acceso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Estado Actual": {
      "main": [
        [
          {
            "node": "IF Fila LOGS Existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Fila LOGS Existe": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Inicializar LOGS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inicializar LOGS": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Switch por Pantalla",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch por Pantalla": {
      "main": [
        [
          {
            "node": "IF Menu Op1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Tipo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Prioridad",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Descripcion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Confirmar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Consultar Ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Menu Op3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Menu Op1": {
      "main": [
        [
          {
            "node": "LOG pantalla = tipo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Menu Op2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG pantalla = tipo": {
      "main": [
        [
          {
            "node": "Msg Pantalla Tipo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Tipo": {
      "main": [
        [
          {
            "node": "LOG Cancelar pantalla = menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Tipo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Tipo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Tipo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg Tipo Invalido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Tipo": {
      "main": [
        [
          {
            "node": "LOG tipo_temp + pantalla = prioridad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG tipo_temp + pantalla = prioridad": {
      "main": [
        [
          {
            "node": "Msg Pantalla Prioridad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Prioridad": {
      "main": [
        [
          {
            "node": "LOG Cancelar pantalla = menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Prioridad",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Prioridad",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Prioridad",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg Prioridad Invalida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Prioridad": {
      "main": [
        [
          {
            "node": "LOG prioridad_temp + pantalla = descripcion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG prioridad_temp + pantalla = descripcion": {
      "main": [
        [
          {
            "node": "Msg Pantalla Descripcion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Descripcion": {
      "main": [
        [
          {
            "node": "LOG Cancelar pantalla = menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LOG descripcion_temp + pantalla = confirmar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg Desc Invalida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG descripcion_temp + pantalla = confirmar": {
      "main": [
        [
          {
            "node": "Leer LOGS para Confirmar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer LOGS para Confirmar": {
      "main": [
        [
          {
            "node": "Msg Pantalla Confirmar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Confirmar": {
      "main": [
        [
          {
            "node": "LOG Cancelar pantalla = menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Leer LOGS para Ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LOG Cancelar pantalla = menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg Confirmar Invalido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer LOGS para Ticket": {
      "main": [
        [
          {
            "node": "Leer SOLICITUDES para ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer SOLICITUDES para ID": {
      "main": [
        [
          {
            "node": "Set Datos Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Datos Ticket": {
      "main": [
        [
          {
            "node": "Append Ticket en SOLICITUDES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Ticket en SOLICITUDES": {
      "main": [
        [
          {
            "node": "LOG pantalla = menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG pantalla = menu": {
      "main": [
        [
          {
            "node": "Msg Ticket Creado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG Cancelar pantalla = menu": {
      "main": [
        [
          {
            "node": "Msg Cancelado volver Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Menu Op2": {
      "main": [
        [
          {
            "node": "LOG pantalla = consultar_ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Menu Op3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG pantalla = consultar_ticket": {
      "main": [
        [
          {
            "node": "Msg Pedir ID Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Menu Op3": {
      "main": [
        [
          {
            "node": "Buscar Mis Solicitudes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg Menu Invalido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Consultar Ticket": {
      "main": [
        [
          {
            "node": "LOG Cancelar pantalla = menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar Ticket en SOLICITUDES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Ticket en SOLICITUDES": {
      "main": [
        [
          {
            "node": "IF Ticket Existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Ticket Existe": {
      "main": [
        [
          {
            "node": "Msg Ticket Encontrado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg Ticket No Encontrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg Ticket Encontrado": {
      "main": [
        [
          {
            "node": "LOG menu tras consultar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Mis Solicitudes": {
      "main": [
        [
          {
            "node": "IF Tiene Solicitudes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Tiene Solicitudes": {
      "main": [
        [
          {
            "node": "Set Lista Tickets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg Sin Solicitudes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Lista Tickets": {
      "main": [
        [
          {
            "node": "Msg Mis Solicitudes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg Mis Solicitudes": {
      "main": [
        [
          {
            "node": "LOG menu tras mis solicitudes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg Sin Solicitudes": {
      "main": [
        [
          {
            "node": "LOG menu sin solicitudes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b39b87e8-7e48-46d9-8b54-aa76e6178151",
  "meta": {
    "instanceId": "8e8c04a7bbfbfbfd9fd3ca193aa4ae9cf6a57c7a58f53d522d20736f4fcc7b36"
  },
  "id": "G5qDsJypj5qCnzok",
  "tags": []
}