HelpDeskBot.json
{
  "name": "HelpDeskBot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2336,
        3008
      ],
      "id": "650cfb79-ca11-4721-97fe-66770532fc50",
      "name": "Telegram Trigger",
      "webhookId": "helpdesk-bot-webhook-001",
      "credentials": {
        "telegramApi": {
          "id": "VHkkfzmUXlS7BThr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1113605684,
          "mode": "list",
          "cachedResultName": "USUARIOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=1113605684"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=telegram_user",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.from.id }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2160,
        3008
      ],
      "id": "13a19b82-1e52-4efd-9f15-b79441ff3fb7",
      "name": "Buscar Usuario",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UhRS8NswkBsayMeP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-activo",
              "leftValue": "={{ $json.activo }}",
              "rightValue": "Sí",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1984,
        3008
      ],
      "id": "c480a1b8-61d5-4f74-8dbc-03b48757e312",
      "name": "IF Usuario Activo"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "⛔ No tienes acceso a este sistema. Contacta al administrador.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1872,
        3280
      ],
      "id": "4bd344ed-c603-487b-8f4a-88b73e2cecdd",
      "name": "Msg No Acceso",
      "webhookId": "helpdesk-no-acceso-wh",
      "credentials": {
        "telegramApi": {
          "id": "VHkkfzmUXlS7BThr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=telegram_user",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.from.id }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1808,
        2992
      ],
      "id": "d2ec022f-f390-408d-a339-e4ea6b723c0b",
      "name": "Leer Estado Actual",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UhRS8NswkBsayMeP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-logs-existe",
              "leftValue": "={{$json.telegram_user}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1632,
        2992
      ],
      "id": "326e17d0-5afb-432b-a7b3-88d30e9c6096",
      "name": "IF Fila LOGS Existe"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{String($('Telegram Trigger').item.json.message.from.id)}}",
            "pantalla": "menu"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tipo_temp",
              "displayName": "tipo_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "prioridad_temp",
              "displayName": "prioridad_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "descripcion_temp",
              "displayName": "descripcion_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1424,
        3104
      ],
      "id": "36199194-3ef4-4ec6-b0d1-6b9712706be0",
      "name": "Inicializar LOGS",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UhRS8NswkBsayMeP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "pantalla",
              "value": "={{ $json.pantalla || 'menu' }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "texto_usuario",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "user_id",
              "value": "={{ $('Telegram Trigger').item.json.message.from.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1264,
        2976
      ],
      "id": "00ec0b71-6e1d-409f-8d9d-0840a8263f9f",
      "name": "Set Variables"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "76c69119-390e-4d22-b7a6-b6f13d8b5038",
                    "leftValue": "={{$json.pantalla}}",
                    "rightValue": "menu",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5773ec15-b1c4-4b74-8d46-404ffe4bacfe",
                    "leftValue": "={{$json.pantalla}}",
                    "rightValue": "tipo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7e44f693-b157-4a62-8303-46bcb8738b87",
                    "leftValue": "={{$json.pantalla}}",
                    "rightValue": "prioridad",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ae583efa-cc1f-4cb6-a13e-f40246f1c1e1",
                    "leftValue": "={{$json.pantalla}}",
                    "rightValue": "descripcion",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fa06e3fa-8bdf-4266-b1ec-9eeb18d097dc",
                    "leftValue": "={{$json.pantalla}}",
                    "rightValue": "confirmar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "sp5",
                    "leftValue": "={{$json.pantalla}}",
                    "rightValue": "consultar_ticket",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "sp6",
                    "leftValue": "={{$json.pantalla}}",
                    "rightValue": "mis_solicitudes",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -896,
        2416
      ],
      "id": "0302e1f0-c198-49ba-82ec-60b8945dd1fc",
      "name": "Switch por Pantalla"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "m1",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2560,
        2352
      ],
      "id": "490dff2f-4b67-41ae-8cd3-51ef7b4f4066",
      "name": "IF Menu Op1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "pantalla": "tipo"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tipo_temp",
              "displayName": "tipo_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "prioridad_temp",
              "displayName": "prioridad_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "descripcion_temp",
              "displayName": "descripcion_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2448,
        2160
      ],
      "id": "16724b56-53b2-462a-9fdb-b945b3e4da1e",
      "name": "LOG pantalla = tipo",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UhRS8NswkBsayMeP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "📋 *Paso 1 de 4 – Tipo de solicitud*\n\nSelecciona el tipo:\n1️⃣ Soporte técnico\n2️⃣ Solicitud administrativa\n3️⃣ Consulta general\n\n_Envía 9 en cualquier momento para cancelar._",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2304,
        2160
      ],
      "id": "2644d422-32f0-437e-bd65-091c151ae656",
      "name": "Msg Pantalla Tipo",
      "webhookId": "helpdesk-msg-tipo-wh",
      "credentials": {
        "telegramApi": {
          "id": "VHkkfzmUXlS7BThr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "t0",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "9",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "t1",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "valido"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "t2",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "valido"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "t3",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "valido"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "td",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Default"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -384,
        1488
      ],
      "id": "e216ab61-a7b4-4961-97bb-fc7364ac42a7",
      "name": "Switch Tipo"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "s-tipo",
              "name": "tipo_label",
              "value": "={{ \n$('Telegram Trigger').item.json.message.text === '1'\n? 'Soporte técnico'\n: $('Telegram Trigger').item.json.message.text === '2'\n? 'Solicitud administrativa'\n: 'Consulta general'\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        1536
      ],
      "id": "0b637fd2-a6bb-4449-8657-30e729bcd591",
      "name": "Set Tipo"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "p0",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "9",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "p1",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "valido"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "p2",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "valido"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "p3",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "valido"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "pd",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Default"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -352,
        1840
      ],
      "id": "187879bf-5dc3-436a-8971-2dfbe2880dad",
      "name": "Switch Prioridad"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "s-prio",
              "name": "prioridad_label",
              "value": "={{ $('Telegram Trigger').item.json.message.text === '1' ? 'Alta' : $('Telegram Trigger').item.json.message.text === '2' ? 'Media' : 'Baja' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        1872
      ],
      "id": "5bacc75f-0db5-4c93-beb7-bc5d3f39fbc6",
      "name": "Set Prioridad"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "pantalla": "descripcion",
            "prioridad_temp": "={{ $json.prioridad_label }}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "prioridad_temp",
              "displayName": "prioridad_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        112,
        1872
      ],
      "id": "800735d2-e91c-4c7e-8311-7aca353ddc85",
      "name": "LOG prioridad_temp + pantalla = descripcion",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UhRS8NswkBsayMeP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "📋 *Paso 3 de 4 – Descripción*\n\nEscribe una descripción detallada de tu solicitud.\n_(Texto libre, cualquier extensión)_\n\n_Envía 9 para cancelar y volver al menú._",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        304,
        1872
      ],
      "id": "fa556c89-eafe-452e-a03e-04e05cc381b2",
      "name": "Msg Pantalla Descripcion",
      "webhookId": "helpdesk-msg-desc-wh",
      "credentials": {
        "telegramApi": {
          "id": "VHkkfzmUXlS7BThr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "❌ Opción inválida. Por favor elige:\n\n1️⃣ Alta\n2️⃣ Media\n3️⃣ Baja\n\n_O envía 9 para cancelar._",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -240,
        2080
      ],
      "id": "b3acb157-f6a8-4f71-9574-0baef22de647",
      "name": "Msg Prioridad Invalida",
      "webhookId": "helpdesk-prio-inv-wh",
      "credentials": {
        "telegramApi": {
          "id": "VHkkfzmUXlS7BThr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d0",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "9",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d1",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text.length }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "valida"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "dd",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Default"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -384,
        2208
      ],
      "id": "71c01800-a8a0-49ef-bd6b-ab2a7bbc42dc",
      "name": "Switch Descripcion"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "pantalla": "confirmar",
            "descripcion_temp": "={{$json.texto_usuario}}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tipo_temp",
              "displayName": "tipo_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "prioridad_temp",
              "displayName": "prioridad_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "descripcion_temp",
              "displayName": "descripcion_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -160,
        2224
      ],
      "id": "90dd2f93-b817-4648-8ed1-0457f3aff3dd",
      "name": "LOG descripcion_temp + pantalla = confirmar",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UhRS8NswkBsayMeP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_user",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.from.id }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        16,
        2224
      ],
      "id": "af406752-df7c-4e50-a9da-29604226dd8b",
      "name": "Leer LOGS para Confirmar",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UhRS8NswkBsayMeP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=Paso 4 de 4 - Confirmar solicitud\n\nTipo: {{ $('Leer LOGS para Confirmar').item.json.tipo_temp }}\nPrioridad: {{ $('Leer LOGS para Confirmar').item.json.prioridad_temp }}\nDescripción: {{ $('Leer LOGS para Confirmar').item.json.descripcion_temp }}\n\n1. Sí, crear ticket\n2. No, cancelar\n9. Volver al menú",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        192,
        2224
      ],
      "id": "ce5dd018-23c3-4213-95eb-d4d84b22f773",
      "name": "Msg Pantalla Confirmar",
      "webhookId": "helpdesk-msg-confirmar-wh",
      "credentials": {
        "telegramApi": {
          "id": "VHkkfzmUXlS7BThr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "❌ Opción inválida. Por favor escribe la descripción de tu problema.\n\n_O envía 9 para cancelar._",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -272,
        2384
      ],
      "id": "4443cf79-efc6-43b3-bd7a-d72373c18599",
      "name": "Msg Desc Invalida",
      "webhookId": "helpdesk-desc-inv-wh",
      "credentials": {
        "telegramApi": {
          "id": "VHkkfzmUXlS7BThr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c0",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "9",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c1",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "guardar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c2",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cd",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Default"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -384,
        2496
      ],
      "id": "d621f1c0-f441-4bfc-9683-25fd9f853e94",
      "name": "Switch Confirmar"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_user",
              "lookupValue": "={{$json.user_id}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -128,
        2512
      ],
      "id": "80ce129f-f569-47ce-8c13-08b99e8bd750",
      "name": "Leer LOGS para Ticket",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UhRS8NswkBsayMeP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 719158985,
          "mode": "list",
          "cachedResultName": "SOLICITUDES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=719158985"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        32,
        2512
      ],
      "id": "bdb12eb3-20d9-4e7b-95f2-f1237792d0dd",
      "name": "Leer SOLICITUDES para ID",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UhRS8NswkBsayMeP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "st1",
              "name": "id_ticket",
              "value": "={{ 'HD-' + String($('Leer SOLICITUDES para ID').all().length + 1).padStart(3, '0') }}",
              "type": "string"
            },
            {
              "id": "st2",
              "name": "tipo_ticket",
              "value": "={{ $('Leer LOGS para Ticket').item.json.tipo_temp }}",
              "type": "string"
            },
            {
              "id": "st3",
              "name": "prioridad_ticket",
              "value": "={{ $('Leer LOGS para Ticket').item.json.prioridad_temp }}",
              "type": "string"
            },
            {
              "id": "st4",
              "name": "descripcion_ticket",
              "value": "={{ $('Leer LOGS para Ticket').item.json.descripcion_temp }}",
              "type": "string"
            },
            {
              "id": "st5",
              "name": "fecha_hoy",
              "value": "={{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        2512
      ],
      "id": "1052467b-3c7c-41ad-b8a7-8354b4f6282b",
      "name": "Set Datos Ticket"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 719158985,
          "mode": "list",
          "cachedResultName": "SOLICITUDES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=719158985"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_ticket": "={{ $json.id_ticket }}",
            "tipo": "={{ $json.tipo_ticket }}",
            "prioridad": "={{ $json.prioridad_ticket }}",
            "descripcion": "={{ $json.descripcion_ticket }}",
            "estado": "Abierto",
            "creado_por": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "fecha_creacion": "={{ $json.fecha_hoy }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_ticket",
              "displayName": "id_ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "tipo",
              "displayName": "tipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "creado_por",
              "displayName": "creado_por",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha_creacion",
              "displayName": "fecha_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        384,
        2512
      ],
      "id": "2669aa55-7c37-4d21-84a8-9faa0d8ed789",
      "name": "Append Ticket en SOLICITUDES",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UhRS8NswkBsayMeP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "pantalla": "menu",
            "telegram_user": "={{$('Telegram Trigger').item.json.message.from.id}}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tipo_temp",
              "displayName": "tipo_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "prioridad_temp",
              "displayName": "prioridad_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "descripcion_temp",
              "displayName": "descripcion_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        560,
        2512
      ],
      "id": "c0aadebd-d307-4f5a-8fba-660e9167573c",
      "name": "LOG pantalla = menu",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UhRS8NswkBsayMeP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=✅ *¡Ticket creado exitosamente!*\n\n🎫 *ID:* {{ $('Set Datos Ticket').item.json.id_ticket }}\n📂 *Tipo:* {{ $('Set Datos Ticket').item.json.tipo_ticket }}\n⚡ *Prioridad:* {{ $('Set Datos Ticket').item.json.prioridad_ticket }}\n📅 *Fecha:* {{ $('Set Datos Ticket').item.json.fecha_hoy }}\n🔖 *Estado:* Abierto\n\nTe notificaremos cuando haya actualizaciones.\n\n────────────────────\n🏠 *MENÚ PRINCIPAL*\n\nMenú principal:\n0. Ayuda\n1. Crear solicitud\n2. Consultar estado de solicitud\n3. Mis solicitudes\n4. Reportes\n5. Configuración",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        2512
      ],
      "id": "b6f9d4c6-b3e5-4889-b225-699e3f23c48c",
      "name": "Msg Ticket Creado",
      "webhookId": "helpdesk-ticket-ok-wh",
      "credentials": {
        "telegramApi": {
          "id": "VHkkfzmUXlS7BThr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "❌ Opción inválida. Por favor elige:\n\n1️⃣ Sí, crear ticket\n2️⃣ No, cancelar\n\n_O envía 9 para volver al menú._",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -272,
        2736
      ],
      "id": "86977d00-f817-4bdd-9407-b6e030e6c3a1",
      "name": "Msg Confirmar Invalido",
      "webhookId": "helpdesk-conf-inv-wh",
      "credentials": {
        "telegramApi": {
          "id": "VHkkfzmUXlS7BThr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "m2",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
              "rightValue": "2",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2032,
        2368
      ],
      "id": "cc878fbb-6f76-4dfa-b150-5b524cedd99d",
      "name": "IF Menu Op2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "pantalla": "consultar_ticket"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1920,
        2176
      ],
      "id": "6e372aad-a525-4041-9f74-de00294a6219",
      "name": "LOG pantalla = consultar_ticket",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UhRS8NswkBsayMeP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "🔍 *Consultar estado de solicitud*\n\nIngresa el ID del ticket (ej: HD-001)\n\n_Envía 9 para cancelar._",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1776,
        2176
      ],
      "id": "a8f40a9b-e9aa-4b39-82d7-e42d795b7cd1",
      "name": "Msg Pedir ID Ticket",
      "webhookId": "1fc36519-606a-4b54-81b8-67261b90e281",
      "credentials": {
        "telegramApi": {
          "id": "VHkkfzmUXlS7BThr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ct0",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "9",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ct1",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text.length }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "buscar"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -960,
        3184
      ],
      "id": "9ab484af-eb5d-4b45-be00-e68411c54d79",
      "name": "Switch Consultar Ticket"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 719158985,
          "mode": "list",
          "cachedResultName": "SOLICITUDES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=719158985"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id_ticket",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.text }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -848,
        3328
      ],
      "id": "742c531e-af8e-4b12-805a-63799f8875bc",
      "name": "Buscar Ticket en SOLICITUDES",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UhRS8NswkBsayMeP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "te1",
              "leftValue": "={{ $json.id_ticket }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -688,
        3328
      ],
      "id": "8e21a87c-0677-43d0-936a-8e6f987e8c57",
      "name": "IF Ticket Existe"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "m3",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
              "rightValue": "3",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1616,
        2384
      ],
      "id": "a146a438-9d54-4089-8db2-c1754edc34d2",
      "name": "IF Menu Op3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 719158985,
          "mode": "list",
          "cachedResultName": "SOLICITUDES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=719158985"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "creado_por",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1520,
        2160
      ],
      "id": "78457891-2935-4fb0-9b2a-9819122392b9",
      "name": "Buscar Mis Solicitudes",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UhRS8NswkBsayMeP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ms1",
              "leftValue": "={{ $json.id_ticket }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1376,
        2160
      ],
      "id": "93328cae-881b-4f06-84b7-0fe625e9a96d",
      "name": "IF Tiene Solicitudes"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ms-lista",
              "name": "lista_tickets",
              "value": "={{ $items().slice(-3).reverse().map(i => i.json.id_ticket + ' | ' + i.json.estado).join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1264,
        1952
      ],
      "id": "9fc96bad-51f9-4ecc-8597-5fc532bccac2",
      "name": "Set Lista Tickets"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=📋 *Mis últimas solicitudes:*\n\n{{ $json.lista_tickets }}\n\n────────────────\n1. Crear solicitud\n2. Consultar estado\n3. Mis solicitudes\n9. Regresar",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1120,
        1952
      ],
      "id": "bca6ad21-5a32-48c2-8fdf-68c7993e4025",
      "name": "Msg Mis Solicitudes",
      "webhookId": "25873789-7085-45f5-929a-61cfdf8ce2b5",
      "credentials": {
        "telegramApi": {
          "id": "VHkkfzmUXlS7BThr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "pantalla": "menu"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -960,
        1952
      ],
      "id": "05d60dde-4be3-43b7-97e4-e1c8ada8845a",
      "name": "LOG menu tras mis solicitudes",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UhRS8NswkBsayMeP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "📭 No tienes solicitudes registradas.\n\n────────────────\n1. Crear solicitud\n2. Consultar estado\n3. Mis solicitudes",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1200,
        2128
      ],
      "id": "dd07f205-de27-4eeb-8258-d40e5f17e2ec",
      "name": "Msg Sin Solicitudes",
      "webhookId": "88e83bf4-d1bf-464f-b204-6021590d23b2",
      "credentials": {
        "telegramApi": {
          "id": "VHkkfzmUXlS7BThr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "pantalla": "menu"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1024,
        2128
      ],
      "id": "591cebfd-ec15-46e5-ab58-e6bfc570702c",
      "name": "LOG menu sin solicitudes",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UhRS8NswkBsayMeP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Hola, soy HelpDeskBot 👋\n\nEstoy aquí para ayudarte con solicitudes de soporte\nde forma rápida y ordenada.\n\nPor favor escribe el número de la opción que quieras usar.\n\nMenú principal:\n0. Ayuda\n1. Crear solicitud\n2. Consultar estado de solicitud\n3. Mis solicitudes\n4. Reportes\n5. Configuración",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1136,
        2400
      ],
      "id": "d7b28ee8-9913-4199-9204-26c6f79be1a2",
      "name": "MENSAJE DEL MENU",
      "webhookId": "helpdesk-menu-inv-wh",
      "credentials": {
        "telegramApi": {
          "id": "VHkkfzmUXlS7BThr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "📋 *Paso 2 de 4 – Prioridad*\n\nSelecciona la prioridad:\n1️⃣ Alta\n2️⃣ Media\n3️⃣ Baja\n\n_Envía 9 para cancelar y volver al menú._",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        176,
        1536
      ],
      "id": "aeea86f4-6bad-4057-b123-e07d5a18bb7f",
      "name": "ms prioridad",
      "webhookId": "helpdesk-msg-prioridad-wh",
      "credentials": {
        "telegramApi": {
          "id": "VHkkfzmUXlS7BThr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tipo_temp": "={{$json.tipo_label}}",
            "pantalla": "prioridad",
            "telegram_user": "={{$('Telegram Trigger').item.json.message.from.id}}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tipo_temp",
              "displayName": "tipo_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prioridad_temp",
              "displayName": "prioridad_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "descripcion_temp",
              "displayName": "descripcion_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        1536
      ],
      "id": "0af49106-8899-48fb-9eae-2835d0abf893",
      "name": "log de tipo",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UhRS8NswkBsayMeP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "❌ Opción inválida. Por favor elige:\n\n1️⃣ Soporte técnico\n2️⃣ Solicitud administrativa\n3️⃣ Consulta general\n\n_O envía 9 para cancelar._",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -240,
        1696
      ],
      "id": "b1b5f93d-7fbe-40f9-80ee-b160cfda93bb",
      "name": "ms tipo invalido",
      "webhookId": "helpdesk-tipo-inv-wh",
      "credentials": {
        "telegramApi": {
          "id": "VHkkfzmUXlS7BThr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "MENSAJE QUE LE SALE AL USUARIO AL PONER UN CARACTER QUE NO SEA VALIDO"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1200,
        2336
      ],
      "typeVersion": 1,
      "id": "1852ed3a-1859-47e5-b197-88994ec81c27",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## ACA ES DONDE SE EMPIEZA\nVerifica si el usuario existe, el usuario debe estar registrado para poder utlizar el chat bot",
        "height": 560,
        "width": 1360,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2464,
        2896
      ],
      "typeVersion": 1,
      "id": "28dd2d22-6932-4e33-9a54-e5aab0f6c487",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{$json.user_id}}",
            "pantalla": "menu",
            "resultado": "cancelado_volver_menu"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "opcion",
              "displayName": "opcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tipo_temp",
              "displayName": "tipo_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "prioridad_temp",
              "displayName": "prioridad_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "descripcion_temp",
              "displayName": "descripcion_temp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -336,
        2992
      ],
      "id": "ac8131dd-efee-4204-9510-b3cfa171d286",
      "name": "log cancelar pantalla",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UhRS8NswkBsayMeP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Aca es donde se cancela la soliciud",
        "height": 208,
        "width": 352,
        "color": "#FF0000"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -368,
        2928
      ],
      "typeVersion": 1,
      "id": "74788a75-5b40-4fbb-9d41-2158940f4237",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "Solicitud cancelada ✅\n\nVolviendo al menú principal...\n\n0. Ayuda\n1. Crear solicitud\n2. Consultar estado\n3. Mis solicitudes\n4. Reportes\n5. Configuración",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -160,
        2992
      ],
      "id": "4ae2f4af-659c-454b-9e8a-8380bce65e98",
      "name": "ms de cancelacion",
      "webhookId": "helpdesk-cancelado-wh",
      "credentials": {
        "telegramApi": {
          "id": "VHkkfzmUXlS7BThr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=🎫 *Detalle del ticket*\n\n🆔 *ID:* {{ $json.id_ticket }}\n📂 *Tipo:* {{ $json.tipo }}\n⚡ *Prioridad:* {{ $json.prioridad }}\n🔖 *Estado:* {{ $json.estado }}\n📅 *Fecha:* {{ $json.fecha_creacion }}\n\n────────────────\n1. Crear solicitud\n2. Consultar estado\n3. Mis solicitudes",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -544,
        3312
      ],
      "id": "2ddf7414-dcb6-46ef-ac3f-f7d32ee35af4",
      "name": "detalle ticket",
      "webhookId": "05d01601-0725-457a-8e0c-94587420a632",
      "credentials": {
        "telegramApi": {
          "id": "VHkkfzmUXlS7BThr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o",
          "mode": "list",
          "cachedResultName": "HelpDeskBot_DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 418799240,
          "mode": "list",
          "cachedResultName": "LOGS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FQqK0SmrzHeKR80XEuiqCAHfBx7FsYP6Lu1ExNq0H8o/edit#gid=418799240"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "pantalla": "menu"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla",
              "displayName": "pantalla",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -384,
        3312
      ],
      "id": "318da6f6-0520-4881-bb37-d2b204fa55e5",
      "name": "log menu tras consultar",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "UhRS8NswkBsayMeP",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "❌ Ticket no encontrado.\n\nVerifica el ID e intenta de nuevo (ej: *HD-001*)\nO envía *9* para cancelar.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -576,
        3504
      ],
      "id": "25fcc451-37f5-4627-a96a-8224e6b1bb95",
      "name": "ms ticket no encontrado",
      "webhookId": "f7c5f5f4-7839-4ce3-a29d-1fd650aa8f59",
      "credentials": {
        "telegramApi": {
          "id": "VHkkfzmUXlS7BThr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 1. Crear solicitud \nAca es donde se le pide al usuario que escoja el tipo de solicitud que vaya a realizar ",
        "height": 592,
        "width": 688,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2752,
        2032
      ],
      "typeVersion": 1,
      "id": "ef7ca875-b2d7-4136-bf7e-0d13db2670bd",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "### Menu de Crear solicitud\n## Aca aparecen las opciones  Tipo de solicitud -  Prioridad -  Descripción - Confirmar solicitud",
        "height": 1504,
        "width": 1376
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -400,
        1376
      ],
      "typeVersion": 1,
      "id": "1cdb55dd-be22-440b-91a9-5c972bab6ae8",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Consultar estado de solicitud",
        "height": 640,
        "width": 368,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2032,
        2016
      ],
      "typeVersion": 1,
      "id": "fc471262-71c4-4690-a676-1bb84d6f54a1",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Consultar solicitudes",
        "height": 640,
        "width": 800,
        "color": "#45696E"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1616,
        1904
      ],
      "typeVersion": 1,
      "id": "af109e92-e90b-4bc3-9d56-7f85a282d827",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "##  Detalle del ticket",
        "height": 544,
        "width": 688,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -976,
        3136
      ],
      "typeVersion": 1,
      "id": "8b07d14c-77f5-4f6d-868d-2bdbcc37eee5",
      "name": "Sticky Note7"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Buscar Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Usuario": {
      "main": [
        [
          {
            "node": "IF Usuario Activo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Usuario Activo": {
      "main": [
        [
          {
            "node": "Leer Estado Actual",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg No Acceso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Estado Actual": {
      "main": [
        [
          {
            "node": "IF Fila LOGS Existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Fila LOGS Existe": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Inicializar LOGS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inicializar LOGS": {
      "main": [
        [
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Switch por Pantalla",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch por Pantalla": {
      "main": [
        [
          {
            "node": "IF Menu Op1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Tipo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Prioridad",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Descripcion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Confirmar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Consultar Ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Menu Op3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Menu Op1": {
      "main": [
        [
          {
            "node": "LOG pantalla = tipo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Menu Op2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG pantalla = tipo": {
      "main": [
        [
          {
            "node": "Msg Pantalla Tipo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Tipo": {
      "main": [
        [
          {
            "node": "log cancelar pantalla",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Tipo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Tipo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Tipo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ms tipo invalido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Tipo": {
      "main": [
        [
          {
            "node": "log de tipo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Prioridad": {
      "main": [
        [
          {
            "node": "log cancelar pantalla",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Prioridad",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Prioridad",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Prioridad",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg Prioridad Invalida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Prioridad": {
      "main": [
        [
          {
            "node": "LOG prioridad_temp + pantalla = descripcion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG prioridad_temp + pantalla = descripcion": {
      "main": [
        [
          {
            "node": "Msg Pantalla Descripcion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Descripcion": {
      "main": [
        [
          {
            "node": "log cancelar pantalla",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LOG descripcion_temp + pantalla = confirmar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg Desc Invalida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG descripcion_temp + pantalla = confirmar": {
      "main": [
        [
          {
            "node": "Leer LOGS para Confirmar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer LOGS para Confirmar": {
      "main": [
        [
          {
            "node": "Msg Pantalla Confirmar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Confirmar": {
      "main": [
        [
          {
            "node": "log cancelar pantalla",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Leer LOGS para Ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "log cancelar pantalla",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg Confirmar Invalido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer LOGS para Ticket": {
      "main": [
        [
          {
            "node": "Leer SOLICITUDES para ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer SOLICITUDES para ID": {
      "main": [
        [
          {
            "node": "Set Datos Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Datos Ticket": {
      "main": [
        [
          {
            "node": "Append Ticket en SOLICITUDES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Ticket en SOLICITUDES": {
      "main": [
        [
          {
            "node": "LOG pantalla = menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG pantalla = menu": {
      "main": [
        [
          {
            "node": "Msg Ticket Creado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Menu Op2": {
      "main": [
        [
          {
            "node": "LOG pantalla = consultar_ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Menu Op3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG pantalla = consultar_ticket": {
      "main": [
        [
          {
            "node": "Msg Pedir ID Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Menu Op3": {
      "main": [
        [
          {
            "node": "Buscar Mis Solicitudes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MENSAJE DEL MENU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Consultar Ticket": {
      "main": [
        [
          {
            "node": "log cancelar pantalla",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar Ticket en SOLICITUDES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Ticket en SOLICITUDES": {
      "main": [
        [
          {
            "node": "IF Ticket Existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Ticket Existe": {
      "main": [
        [
          {
            "node": "detalle ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ms ticket no encontrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Mis Solicitudes": {
      "main": [
        [
          {
            "node": "IF Tiene Solicitudes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Tiene Solicitudes": {
      "main": [
        [
          {
            "node": "Set Lista Tickets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Msg Sin Solicitudes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Lista Tickets": {
      "main": [
        [
          {
            "node": "Msg Mis Solicitudes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg Mis Solicitudes": {
      "main": [
        [
          {
            "node": "LOG menu tras mis solicitudes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Msg Sin Solicitudes": {
      "main": [
        [
          {
            "node": "LOG menu sin solicitudes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "log de tipo": {
      "main": [
        [
          {
            "node": "ms prioridad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "log cancelar pantalla": {
      "main": [
        [
          {
            "node": "ms de cancelacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "detalle ticket": {
      "main": [
        [
          {
            "node": "log menu tras consultar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "21e21f3a-f32b-46e6-88aa-68e048103d11",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "329649c865abbdb2a5976fcb33a70a598f7e6fdc225716d9cdaecd5e0c747fb2"
  },
  "id": "nlwFuYG427N7hWeI",
  "tags": []
}